body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px 30px 20px;
    background: #1B244A;
    border-radius: 20px;
    border: 5px solid whitesmoke;
    box-shadow: 0px 0px 5px;
    
    
}

h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}



.scorebox {
    width: 120px;
    height: 80px;
    background: white;
    font-size: 80px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 10px 20px 5px 20px;
    margin: 10px;
    
    
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: #9AABD8;
    text-shadow: 0px 0px px #9AABD8;
    padding: 7px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
}


9AABD8